@import "colors";

.input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  
  font-size: 14px;
  line-height: 1.38;

  background-color: white;

  outline: none;
  border-radius: 6px;
  border-color: 1px solid $colorDarkWhite;
  color: $colorBlue;
}

label {
  display: block;
  margin: 8px 0;
}

.container {
  width: 100%;
  text-align: left;
}
