.button {
  width: 100%;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s,
    color 0.1s ease 0s;
  display: inline-block;
  padding: 12px 50px;
  font-size: 16px;
  border-radius: 8px;
  line-height: 1.125;
  color: white;
  background-color: rgb(37, 138, 255);
  border: 1px solid rgb(37, 138, 255);

  &:hover {
    background-color: rgb(37, 105, 255);
    border-color: rgb(37, 105, 255);
  }
}
