@import "colors";

.button {
  display: inline-block;
  width: 100%;
  padding: 12px 50px;

  outline: none;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  
  font-size: 16px;
  border-radius: 8px;
  line-height: 1.125;

  color: $colorWhite;
  background-color: $colorBlue;
  border: 1px solid $colorBlue;

  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s,
    color 0.1s ease 0s;

  &:hover {
    background-color: lighten($colorBlue, 8%);
    border-color: lighten($colorBlue, 8%);
  }
}
