
$colorWhite: #fff;
$colorDarkWhite: #fafbfd;
$colorBlue: rgb(37, 138, 255);
$colorDarkGray: rgb(126, 139, 162);

$colorBlueTransparent: rgba(126, 139, 162, 0.1);

$shadowBase: rgba(199, 205, 216, 0.4) 0px 4px 12px 0px;
