@import "colors";

.container {
  padding: 0 2rem;
  font-size: 1rem;
  line-height: 1.4;
  color: rgb(143, 156, 178);
}

.list {
  list-style: disc;

  li {
    color: rgb(143, 156, 178);
    font-weight: 400;
  }
}

