@import "colors";
@import "screen";

.container {
  display: flex;
  flex-wrap: wrap;
}

.vacancy {
  width: calc(70% - 2rem);
  margin-right: 2rem;
  box-sizing: border-box;

  @include maxTablet {
    width: 100%;
    margin: 0;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-width: 320px;
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
  background-color: $colorDarkWhite;
  border-radius: 0.8rem;

  @include maxTablet {
    width: 100%;
    min-width: 100%;
    margin-top: 2rem;
  }
}

.title {
  margin-top: 8px;
  margin-bottom: 8px;
  color: $colorDarkGray;
  font-size: 18px;
  font-weight: 700;
}

.about {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.avatar {
  width: 72px;
  height: 72px;
  background-color: $colorBlue;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  color: $colorDarkGray;
  font-size: 13px;
  font-weight: 500;
}
