@import 'colors';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: $colorWhite;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: $shadowBase;
}

.status {
  width: fit-content;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  color: $colorBlue;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.6rem;
  background-color: $colorBlueTransparent;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.textInfo {
  margin-left: 1rem;
}

.applied {
  font-size: 0.8rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.progress,
.avatar,
.avatar img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $colorBlueTransparent;
  border-radius: 50%;
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

.submitted {
  background-color: $colorBlueTransparent;
}

.withError {
  img {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}
